@page "/admin"
@using AzureNamingTool.Helpers;
@using AzureNamingTool.Models;
@using System.Runtime.Caching;
@using AzureNamingTool.Services;
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Logging
@using System.Reflection;
@inject IJSRuntime JsRuntime
@inject StateContainer state
@inject ProtectedSessionStorage session
@inject IToastService toastService
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime
@inject ProtectedLocalStorage storage

<PageTitle>Azure Naming Tool - Admin</PageTitle>
<div class="card  @theme.ThemeStyle">
    <div class="card-body">
        <!-- Pop it above the backdrop -->
        <div class="@theme.ThemeStyle">
            <div style="float:left;">
                <h1>
                    Admin
                </h1>
            </div>
            @if (admin)
            {
                <div style="float:right;">
                    <button class="btn btn-secondary" title="Instructions" @onclick="@(e => ShowInstructionsModal())">
                        <span class="oi oi-document" aria-hidden="true"></span> Documentation
                    </button>
                </div>
            }
            <div style="clear:both;"></div>
            <div>
                @if (!admin)
                {
                    <p>
                        Enter the Admin Password to configure the Azure Naming Tool site.
                    </p>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input title="Password" class="form-control mb-3" type="password" @onchange="@((ui) => { SetFormValue("login",(string)ui.Value);})" />
                    </div>
                }
                else
                {
                    <p>
                        This form allows you to set the Admin password, API key, and configuration for the Azure Naming Tool.
                    </p>
                    <div class="card mb-3" style="width:auto;">
                        <div class="card-header bg-default text-black">
                            <a id="versiondetailslink" class="link-dark text-decoration-none" data-toggle="collapse" href="#versiondetails" role="button" aria-expanded="false" aria-controls="versiondetails">
                                <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Version Details
                            </a>
                        </div>
                        <div class="collapse show card card-body @theme.ThemeStyle" id="versiondetails">
                            <div class="mb-3">
                                <strong>Current version:</strong> @appversion
                            </div>
                            @if (versionalert != "")
                            {
                                <div class="alert alert-warning" role="alert">
                                    <div>
                                        @(
                                            (MarkupString)versionalert
                                            )
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary text-white">
                            <a class="text-decoration-none text-white" data-toggle="collapse" style="display:block;font-weight:bold;" href="#updatepassword" role="button" aria-expanded="false" aria-controls="updatepassword">
                                <h5><span class="oi oi-chevron-bottom" aria-hidden="true"></span> Admin Password</h5>
                            </a>
                        </h5>
                        <div class="collapse show card card-body @theme.ThemeStyle" id="updatepassword">
                            <p>
                                Enter a new admin password for the site.
                            </p>
                            <p><strong>Requirements</strong></p>
                            <ul>
                                <li>Contain a number</li>
                                <li>Contain one upper case letter</li>
                                <li>Be at least 8 characters</li>
                            </ul>
                            <div class="form-group">
                                <input title="New Password" id="newpassword" class="form-control  mb-3" type="password" @onchange="@((ui) => { SetFormValue("password",(string)ui.Value);})" />
                                <button title="Save Password" type="button" disabled="@disabled" class="btn btn-success" @onclick="@(e => AdminFormAction("password"))">Save</button>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary text-white">
                            <a class="text-decoration-none text-white" data-toggle="collapse" style="display:block;font-weight:bold;" href="#updateapikey" role="button" aria-expanded="false" aria-controls="updateapikey">
                                <h5><span class="oi oi-chevron-bottom" aria-hidden="true"></span> API Key</h5>
                            </a>
                        </h5>
                        <div class="collapse show  card card-body @theme.ThemeStyle" id="updateapikey">
                            <p>
                                The current API key is displayed. Click <strong>Generate</strong> to generate a new random API Key, or update the text to the desired value.
                            </p>
                            <div class="form-group">
                                <input title="API Key" id="currentapikey" class="form-control mb-3" type="text" @onchange="@((ui) => { SetFormValue("apikey",(string)ui.Value);})" value="@currentapikey" />
                                <button type="button" class="btn btn-success" @onclick="@(e => AdminFormAction("apikeysave"))" title="Save API Key">Save</button>
                                <button type="button" class="btn btn-success" @onclick="@(e => AdminFormAction("apikeygenerate"))" title="Generate API Key">Generate</button>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary text-white">
                            <a class="text-decoration-none text-white" data-toggle="collapse" style="display:block;font-weight:bold;" href="#clearcache" role="button" aria-expanded="false" aria-controls="clearcache">
                                <h5><span class="oi oi-chevron-bottom" aria-hidden="true"></span> Clear Cache</h5>
                            </a>
                        </h5>
                        <div class="collapse show  card card-body @theme.ThemeStyle" id="clearcache">
                            <p>
                                The tool uses caching for data to improve performance. Click <strong>Clear</strong> to clear all cached data.
                            </p>
                            <div class="form-group">
                                <button type="button" class="btn btn-success" @onclick="@(e => AdminFormAction("clearcache"))" title="Clear Cache">Clear</button>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h5 class="card-header text-white bg-secondary text-white">
                            <a class="text-decoration-none text-white" data-toggle="collapse" style="display:block;font-weight:bold;" href="#sitesettings" role="button" aria-expanded="false" aria-controls="sitesettings">
                                <h5><span class="oi oi-chevron-bottom" aria-hidden="true"></span> Site Settings</h5>
                            </a>
                        </h5>
                        <div class="collapse show  card card-body @theme.ThemeStyle" id="sitesettings">
                            <p>
                                Configure settings for the site.
                            </p>
                            <div class="form-group">
                                <label class="switch" title="Duplicate Names Allowed">
                                    <input type="checkbox" checked="@duplicatenamesallowed" @oninput='args => SettingChanged(args, "duplicatenamesallowed")'>
                                    <span class="slider round"></span>
                                </label>
                                <span class="align-text-top"> Allow duplicate name generation</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div>
                @if (!admin)
                {
                    <button type="button" class="btn btn-success" @onclick="@(e => AdminFormAction("login"))" title="Login">Login</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    protected ThemeInfo? theme { get; set; }
    [CascadingParameter]
    public IModalService Modal { get; set; }
    private ServicesData servicesData = new();
    private string? currentpassword;
    private string? newpassword;
    private string? currentapikey;
    private ResponseMessage message = new();
    private bool admin;
    private bool versionalertshown = false;
    private bool disabled = true;
    private bool showversionalert = false;
    private bool dismissalert = false;
    private bool duplicatenamesallowed = false;
    private string versionalert = string.Empty;
    private string? appversion = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
    private SiteConfiguration config = ConfigurationHelper.GetConfigurationData();

    protected override async void OnInitialized()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await session.GetAsync<bool>("admin");
            admin = (bool)result.Value;
            if (admin)
            {
                currentapikey = GeneralHelper.DecryptString(config.APIKey, config.SALTKey);
            }

            await storage.SetAsync("apptheme", theme.ThemeStyle);
            state.AppTheme = theme.ThemeStyle;

            // Determine if the version notification has been dismissed
            var resultVersionAlert = await session.GetAsync<bool>("versionalert-" + appversion + "-shown");
            versionalertshown = resultVersionAlert.Success ? resultVersionAlert.Value : false;
            versionalert = ConfigurationHelper.GetVersionAlert(true).Result;
            if (versionalert != "")
            {
                showversionalert = true;
            }
            duplicatenamesallowed = Convert.ToBoolean(ConfigurationHelper.GetAppSetting("DuplicateNamesAllowed"));
        }

        StateHasChanged();
    }

    private async void AdminFormAction(string action)
    {
        message = new ResponseMessage();
        message.Header = "INFORMATION";
        message.Type = MessageTypesEnum.INFORMATION;
        ServiceResponse serviceResponse = new();
        bool redirect = false;

        switch (action)
        {
            case "login":
                // Check the password
                if (currentpassword == GeneralHelper.DecryptString(config.AdminPassword, config.SALTKey))
                {
                    state.SetAdmin(true);
                    await session.SetAsync("admin", true);
                    // Load the current API Key
                    currentapikey = GeneralHelper.DecryptString(config.APIKey, config.SALTKey);
                    message.Type = MessageTypesEnum.INFORMATION;
                    message.Header = "INFORMATION";
                    message.Message = "Admin logged in.";
                    admin = true;
                    redirect = true;
                }
                else
                {
                    state.SetAdmin(false);
                    await session.SetAsync("admin", false);
                    message.Type = MessageTypesEnum.ERROR;
                    message.Header = "ERROR";
                    message.Message = "Login failed";
                }
                break;
            case "logout":
                state.SetAdmin(false);
                await session.SetAsync("admin", false);
                message.Type = MessageTypesEnum.INFORMATION;
                message.Header = "INFORMATION";
                message.Message = "Admin logged out.";
                redirect = true;
                break;
            case "password":
                bool confirmPassword = await JsRuntime.InvokeAsync<bool>("confirm", "This will change the admin password. Are you sure?");
                if (confirmPassword)
                {
                    // Set the new admin password
                    serviceResponse = await AdminService.UpdatePassword(newpassword);
                    if (serviceResponse.Success)
                    {
                        message.Type = MessageTypesEnum.SUCCESS;
                        message.Header = "SUCCESS";
                        message.Message = "Password updated!";
                    }
                    else
                    {
                        message.Type = MessageTypesEnum.ERROR;
                        message.Header = "ERROR";
                        message.Message = "There was a problem updating the password!";
                    }
                }
                break;
            case "apikeysave":
                bool confrimAPIKeySave = await JsRuntime.InvokeAsync<bool>("confirm", "This will update the current API Key. Are you sure?");
                if (confrimAPIKeySave)
                {
                    serviceResponse = await AdminService.UpdateAPIKey(currentapikey);
                    if (serviceResponse.Success)
                    {
                        message.Type = MessageTypesEnum.SUCCESS;
                        message.Header = "SUCCESS";
                        message.Message = "API Key updated!";
                    }
                    else
                    {
                        message.Type = MessageTypesEnum.ERROR;
                        message.Header = "ERROR";
                        message.Message = "There was a problem updating the API Key!";
                    }
                }
                break;
            case "apikeygenerate":
                bool confrimAPIKeyGenerate = await JsRuntime.InvokeAsync<bool>("confirm", "This will generate a new API Key. Are you sure?");
                if (confrimAPIKeyGenerate)
                {
                    serviceResponse = await AdminService.GenerateAPIKey();
                    if (serviceResponse.Success)
                    {
                        currentapikey = serviceResponse.ResponseObject;
                        await jsRuntime.InvokeAsync<string>("console.log", currentapikey);
                        message.Type = MessageTypesEnum.SUCCESS;
                        message.Header = "SUCCESS";
                        message.Message = "API Key updated!";
                    }
                    else
                    {
                        message.Type = MessageTypesEnum.ERROR;
                        message.Header = "ERROR";
                        message.Message = "There was a problem generating the API Key!";
                    }
                }
                break;
            case "clearcache":
                ObjectCache memoryCache = MemoryCache.Default;
                List<string> cacheKeys = memoryCache.Select(kvp => kvp.Key).ToList();
                foreach (string cacheKey in cacheKeys)
                {
                    memoryCache.Remove(cacheKey);
                }
                message.Type = MessageTypesEnum.SUCCESS;
                message.Header = "SUCCESS";
                message.Message = "Cache cleared!";
                break;
        }

        config = ConfigurationHelper.GetConfigurationData();

        if (message.Message != null)
        {
            switch (message.Type)
            {
                case MessageTypesEnum.INFORMATION:
                    toastService.ShowInfo(message.Message, "INFORMATION");
                    break;
                case MessageTypesEnum.SUCCESS:
                    toastService.ShowSuccess(message.Message, "SUCCESS");
                    break;
                case MessageTypesEnum.WARNING:
                    toastService.ShowWarning(message.Message, "WARNING");
                    break;
                case MessageTypesEnum.ERROR:
                    toastService.ShowError(message.Message, "ERROR");
                    break;
            }
            AdminLogService.PostItem(new AdminLogMessage() { Title = message.Type.ToString(), Message = message.Message });
        }

        StateHasChanged();

        if (redirect)
        {
            if (admin)
            {
                NavigationManager.NavigateTo(NavigationManager.Uri, true);
            }
            else
            {
                NavigationManager.NavigateTo("/", true);
            }
        }

    }

    private void SetFormValue(string type, string value)
    {
        switch (type)
        {
            case "login":
                currentpassword = value;
                break;
            case "password":
                newpassword = value;
                // Validate the password complexity
                if (ValidationHelper.ValidatePassword(newpassword))
                {
                    disabled = false;
                }
                else
                {
                    disabled = true;
                }
                break;
            case "apikey":
                currentapikey = value;
                break;

        }
    }

    private async void SettingChanged(ChangeEventArgs e, string setting)
    {
        message = new ResponseMessage();
        message.Header = "INFORMATION";
        message.Type = MessageTypesEnum.INFORMATION;

        try
        {
            switch (setting)
            {
                case "duplicatenamesallowed":
                    ConfigurationHelper.SetAppSetting("DuplicateNamesAllowed", e.Value.ToString());
                    message.Message = "Duplicate Names Allowed setting updated to " + e.Value.ToString().ToUpper() + "!";
                    // Set the result to cache
                    CacheHelper.SetCacheObject("duplicatenamesallowed", e.Value);
                    break;
            }
            message.Type = MessageTypesEnum.SUCCESS;
            message.Header = "SUCCESS";
        }
        catch (Exception ex)
        {
            AdminLogService.PostItem(new AdminLogMessage() { Title = "ERROR", Message = ex.Message });
            message.Message = "There was a problem updating the setting!";
            message.Header = "ERROR";
        }

        if (message.Message != null)
        {
            switch (message.Type)
            {
                case MessageTypesEnum.INFORMATION:
                    toastService.ShowInfo(message.Message, "INFORMATION");
                    break;
                case MessageTypesEnum.SUCCESS:
                    toastService.ShowSuccess(message.Message, "SUCCESS");
                    break;
                case MessageTypesEnum.WARNING:
                    toastService.ShowWarning(message.Message, "WARNING");
                    break;
                case MessageTypesEnum.ERROR:
                    toastService.ShowError(message.Message, "ERROR");
                    break;
            }
            AdminLogService.PostItem(new AdminLogMessage() { Title = message.Type.ToString(), Message = message.Message });
        }
        StateHasChanged();
    }

    private async Task OnConfigurationAlertDismissed()
    {
        await session.SetAsync("versionalert-" + appversion + "-shown", true);
        if (dismissalert)
        {
            ConfigurationHelper.DismissVersionAlert();
        }
    }

    async Task ShowInformationModal(string headerstyle, string title, string message)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(InformationModal.message), message);
        parameters.Add(nameof(InformationModal.title), title);
        parameters.Add(nameof(InformationModal.headerstyle), headerstyle);
        parameters.Add("theme", theme);

        var options = new ModalOptions()
            {
                HideCloseButton = true,
                UseCustomLayout = true
            };

        var modal = Modal.Show<InformationModal>(title, parameters, options);
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            StateHasChanged();
        }
    }

    private async void ShowInstructionsModal()
    {
        try
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(InformationModal.message), null);
            parameters.Add(nameof(InformationModal.title), "Adnin");
            parameters.Add(nameof(InformationModal.headerstyle), "bg-navcolor");
            parameters.Add(nameof(InformationModal.component), "adminconfigurationinstructions");
            parameters.Add(nameof(InformationModal.admin), admin);
            parameters.Add("theme", theme);

            var options = new ModalOptions()
                {
                    HideCloseButton = true,
                    UseCustomLayout = true
                };

            var modal = Modal.Show<InformationModal>("Instructions", parameters, options);
        }
        catch (Exception ex)
        {
            AdminLogService.PostItem(new AdminLogMessage() { Title = "ERROR", Message = ex.Message });
        }
    }
}