@page "/instructions"
@using AzureNamingTool.Helpers
@using AzureNamingTool.Models
@using AzureNamingTool.Shared.Components
@inject StateContainer state
@inject ProtectedSessionStorage session

<div class="card @theme.ThemeStyle">
    <div class="card-body">
        <h1>Instructions</h1>
        <div class="mb-3">This page provides instructions on how to configure and use the Azure Naming Tool.</div>
        @if (admin)
        {
            <div class="card mb-3">
                <h5 class="card-header bg-secondary text-white" id="adminpasswordcontainer">
                    <a id="ResourceComponent" class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#adminpassword" role="button" aria-expanded="true" aria-controls="adminpassword">
                        <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Admin Password
                    </a>
                </h5>
                <div class="card card-body collapse show @theme.ThemeStyle" id="adminpassword">
                    <AdminPasswordInstructions theme="@theme" admin="@admin" />
                </div>
            </div>
            <div class="card mb-3">
                <h5 class="card-header bg-secondary text-white" id="adminconfigurationcontainer">
                    <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#adminconfiguration" role="button" aria-expanded="true" aria-controls="adminconfiguration">
                        <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Admin Configuration
                    </a>
                </h5>
                <div class="card card-body collapse show @theme.ThemeStyle" id="adminconfiguration">
                    <AdminConfigurationInstructions theme="@theme" admin="@admin" />
                </div>
            </div>
                <div class="card mb-3">
                    <h5 class="card-header bg-secondary text-white" id="adminlogcontainer">
                    <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#adminlog" role="button" aria-expanded="true" aria-controls="adminlog">
                            <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Admin Log
                        </a>
                    </h5>
                <div class="card card-body collapse show @theme.ThemeStyle" id="adminlog">
                        <AdminLogInstructions theme="@theme" admin="@admin" />
                    </div>
                </div>
        }
        <div class="card mb-3">
            <h5 class="card-header bg-secondary text-white" id="configurationcontainer">
                <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#configuration" role="button" aria-expanded="true" aria-controls="configuration">
                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Configuration
                </a>
            </h5>
            <div class="card card-body collapse show @theme.ThemeStyle" id="configuration">
                <ConfigurationInstructions theme="@theme" admin="@admin" />
            </div>
        </div>
        <div class="card mb-3">
            <h5 class="card-header bg-secondary text-white" id="generatecontainer">
                <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#generate" role="button" aria-expanded="true" aria-controls="generate">
                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Generate
                </a>
            </h5>
            <div class="card card-body collapse show @theme.ThemeStyle" id="generate">
                <GenerateInstructions theme="@theme" admin="@admin" />
            </div>
        </div>
        <div class="card mb-3">
            <h5 class="card-header bg-secondary text-white" id="generatednameslogcontainer">
                <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#generatednameslog" role="button" aria-expanded="true" aria-controls="generatednameslog">
                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Generated Names Log
                </a>
            </h5>
            <div class="card card-body collapse show @theme.ThemeStyle" id="generatednameslog">
                <GeneratedNamesLogInstructions theme="@theme" admin="@admin" />
            </div>
        </div>
        <div class="card mb-3">
            <h5 class="card-header bg-secondary text-white" id="referencecontainer">
                <a class="link-light text-decoration-none" data-bs-toggle="collapse" style="display:block;" href="#reference" role="button" aria-expanded="true" aria-controls="reference">
                    <span class="oi oi-chevron-bottom" aria-hidden="true"></span> Reference
                </a>
            </h5>
            <div class="card card-body collapse show @theme.ThemeStyle" id="reference">
                <ReferenceInstructions theme="@theme" admin="@admin" />
            </div>
        </div>
    </div>
</div>
<AnchorNavigation />
@code {
    [CascadingParameter]
    protected ThemeInfo? theme { get; set; }

    private bool admin = false;

    protected override async Task OnInitializedAsync()
    {
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var result = await session.GetAsync<bool>("admin");
            admin = (bool)result.Value;
            StateHasChanged();
        }
    }
}
