@using AzureNamingTool.Models;

<CascadingValue Value="identityProviderDetails">
<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <img src="/images/runnoft.png" />
                <p role="alert">Whoa, it looks like that page went and r-u-n-n-o-f-t! Try again!</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>
</CascadingValue>
@code {
    [Parameter]
    public IdentityProviderDetails? identityProviderDetails { get; set; }
}
