@using AzureNamingTool.Helpers
@using AzureNamingTool.Models
@using AzureNamingTool.Services
@using Microsoft.AspNetCore.Html
@inject IToastService toastService
@inject StateContainer state

<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-backdrop fade show" @onclick="Cancel"></div>
    <div class="modal-dialog" style="z-index: 1050">
        <!-- Pop it above the backdrop -->
        <div class="modal-content @theme.ThemeStyle">
            <div class="modal-header bg-navcolor text-white">
                <h3 class="modal-title">@title</h3>
            </div>
            <div class="modal-body">
                @((MarkupString)message)
                <div class="form-group mb-3">
                    <label for="name" style="font-weight:bold;">Name</label>
                    <input title="Name" value="@itemName" type="text" class="form-control @theme.ThemeStyle" id="name" @onchange="@((ui) => { itemName = (string)ui.Value;})" />
                </div>
                @if (type != "ResourceComponent")
                {
                    <div class="form-group mb-3">
                        <label for="shortName" style="font-weight:bold;">Short Name</label>
                        <input title="Short Name" value="@itemShortName" type="text" class="form-control @theme.ThemeStyle" id="shortname" @onchange="@((ui) => { itemShortName = (string)ui.Value;})" />
                    </div>
                }
                else
                {
                    <div class="form-group mb-3">
                        <label for="shortName" style="font-weight:bold;">Field Type</label>
                        <select @bind="componenttype" class="form-control @theme.ThemeStyle">
                            <option value="standard">Standard - User selects an option from a pre-defined list</option>
                            <option value="freetext">Free Form Text - User inputs custom value</option>
                        </select>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button title="Add" @onclick="Save" class="btn btn-success">Add</button>
                <button title="Cancel" @onclick="Cancel" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>



@code {

    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public ThemeInfo theme { get; set; }

    [Parameter] public int id { get; set; }
    [Parameter] public string title { get; set; }
    [Parameter] public string message { get; set; }
    [Parameter] public string type { get; set; }
    [Parameter] public string? parentcomponent { get; set; }


    private ServiceResponse serviceResponse = new();
    private string? itemName;
    private string? itemShortName;
    private string? componenttype;
    private bool isfreetext = false;

    protected override async void OnInitialized()
    {

    }

    async void Save()
    {
        bool valid = false;
        if (type == "ResourceComponent")
        {
            if (!String.IsNullOrEmpty(itemName))
            {
                // Make sure the name is unique
                serviceResponse = await ResourceComponentService.GetItems(true);
                if (serviceResponse.Success)
                {
                    List<ResourceComponent> resourceComponents = serviceResponse.ResponseObject;
                    if (resourceComponents.Where(x => GeneralHelper.NormalizeName(x.Name, true) == GeneralHelper.NormalizeName(itemName, true)).Count() > 0)
                    {
                        toastService.ShowError("You must enter a unique component name!");
                    }
                    else
                    {
                        valid = true;
                        if(componenttype == "freetext")
                        {
                            isfreetext = true;
                        }
                        ResourceComponent resourceComponent = new()
                            {
                                Name = itemName,
                                DisplayName = itemName,
                                IsCustom = true,
                                IsFreeText = isfreetext
                            };
                        serviceResponse = await ResourceComponentService.PostItem(resourceComponent);
                    }
                }
                else
                {
                    toastService.ShowError("You must enter a name!");
                }
            }
        }
        else
        {
            if ((itemName != null) && (itemShortName != null))
            {
                if ((itemName != "") && (itemShortName != ""))
                {
                    if (ValidationHelper.ValidateShortName(itemShortName, type))
                    {
                        itemShortName = itemShortName.ToLower();
                        string normailzedname = GeneralHelper.NormalizeName(itemName, true);
                        switch (type)
                        {
                            case "ResourceEnvironment":
                                // Check if the item already exists
                                serviceResponse = await ResourceEnvironmentService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceEnvironment> resourceEnvironments = serviceResponse.ResponseObject;
                                    if (resourceEnvironments.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Environment name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceEnvironment resourceEnvironment = new ResourceEnvironment()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceEnvironmentService.PostItem(resourceEnvironment);
                                    }
                                }
                                break;
                            case "ResourceLocation":
                                // Check if the item already exists
                                serviceResponse = await ResourceLocationService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceLocation> resourceLocations = serviceResponse.ResponseObject;
                                    if (resourceLocations.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Location name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceLocation resourceLocation = new ResourceLocation()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceLocationService.PostItem(resourceLocation);
                                    }
                                }
                                break;
                            case "ResourceOrg":
                                // Check if the item already exists
                                serviceResponse = await ResourceOrgService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceOrg> resourceOrgs = serviceResponse.ResponseObject;
                                    if (resourceOrgs.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Org name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceOrg resourceOrg = new ResourceOrg()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceOrgService.PostItem(resourceOrg);
                                    }
                                }
                                break;
                            case "ResourceProjAppSvc":
                                // Check if the item already exists
                                serviceResponse = await ResourceProjAppSvcService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceProjAppSvc> resourceProjAppSvcs = serviceResponse.ResponseObject;
                                    if (resourceProjAppSvcs.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Project/App/Service name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceProjAppSvc resourceProjAppSvc = new ResourceProjAppSvc()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceProjAppSvcService.PostItem(resourceProjAppSvc);
                                    }
                                }
                                break;
                            case "ResourceUnitDept":
                                // Check if the item already exists
                                serviceResponse = await ResourceUnitDeptService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceUnitDept> resourceUnitDepts = serviceResponse.ResponseObject;
                                    if (resourceUnitDepts.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Unit/Dept name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceUnitDept resourceUnitDept = new ResourceUnitDept()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceUnitDeptService.PostItem(resourceUnitDept);
                                    }
                                }
                                break;
                            case "ResourceFunction":
                                // Check if the item already exists
                                serviceResponse = await ResourceFunctionService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<ResourceFunction> resourceFunctions = serviceResponse.ResponseObject;
                                    if (resourceFunctions.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Resource Function name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        ResourceFunction resourceFunction = new ResourceFunction()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower()

                                            };
                                        serviceResponse = await ResourceFunctionService.PostItem(resourceFunction);
                                    }
                                }
                                break;
                            case "CustomComponent":
                                // Check if the item already exists
                                serviceResponse = await CustomComponentService.GetItems();
                                if (serviceResponse.Success)
                                {
                                    List<CustomComponent> customComponents = serviceResponse.ResponseObject;
                                    if (customComponents.Any(x => GeneralHelper.NormalizeName(x.Name, true) == normailzedname || x.ShortName == itemShortName))
                                    {
                                        toastService.ShowError("You must enter a unique Custom Component name and short name!");
                                    }
                                    else
                                    {
                                        valid = true;
                                        CustomComponent customComponent = new CustomComponent()
                                            {
                                                Name = itemName,
                                                ShortName = itemShortName.ToLower(),
                                                ParentComponent = GeneralHelper.NormalizeName(this.parentcomponent, true)
                                            };
                                        serviceResponse = await CustomComponentService.PostItem(customComponent);
                                    }
                                }
                                break;
                        }
                    }
                    else
                    {
                        toastService.ShowError("You must enter a name and short name!");
                    }
                }
                else
                {
                    toastService.ShowError("You must enter a name and short name!");
                }
            }
        }

        if (valid)
        {
            if (serviceResponse.Success)
            {
                ModalInstance.CloseAsync();
                toastService.ShowSuccess(type.Replace("Resource", "Resource ") + " added!");
                AdminLogService.PostItem(new AdminLogMessage() { Title = "SUCCESS", Message = "(" + type + ") " + itemName + " added!" });
            }
            else
            {
                toastService.ShowError("There was an error adding the " + GeneralHelper.NormalizeName(type, false) + "!");
            }
        }
    }

    async Task Cancel() => await ModalInstance.CancelAsync();
}