@using AzureNamingTool.Helpers
@using AzureNamingTool.Models
@using AzureNamingTool.Shared.Components
@inject StateContainer state
@inject ProtectedSessionStorage session
@inject IToastService toastService
@inject ILogger<PasswordModal> Logger

<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-backdrop fade show" @onclick="Cancel"></div>
    <div class="modal-dialog" style="z-index: 1050">
        <!-- Pop it above the backdrop -->
        <div class="modal-content @theme.ThemeStyle">
            <div class="modal-header @headerstyle text-white">
                <h3 class="modal-title">@title</h3>
            </div>
            <div class="modal-body">
                @if (message != null)
                {
                    <div class="mb-3">
                        @(
                            (MarkupString)message
                            )
                    </div>
                }
                @switch (component)
                {
                    case "generateinstructions":
                        <div class="mb-3">
                            <GenerateInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "generatednamesloginstructions":
                        <div class="mb-3">
                            <GeneratedNamesLogInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "toolconfigurationinstructions":
                        <div class="mb-3">
                            <ConfigurationInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "referenceinstructions":
                        <div class="mb-3">
                            <ReferenceInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "adminconfigurationinstructions":
                        <div class="mb-3">
                            <AdminConfigurationInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "adminloginstructions":
                        <div class="mb-3">
                            <AdminLogInstructions theme="@theme" admin="@admin" />
                        </div>
                        break;
                    case "externalcontent":
                        <div class="mb-3">
                            <ExternalContent theme="@theme" admin="@admin" externalurl="@externalurl"/>
                        </div>
                        break;
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@Confirm>OK</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public ThemeInfo theme { get; set; }

    [Parameter] public string title { get; set; }
    [Parameter] public string message { get; set; } = null;
    [Parameter] public string headerstyle { get; set; }
    [Parameter] public object component { get; set; } = null;
    [Parameter] public bool admin { get; set; } = false;
    [Parameter] public string externalurl { get; set; }


    async Task Confirm() => await ModalInstance.CloseAsync();

    async Task Cancel() => await ModalInstance.CancelAsync();

}